torch
transformers
bitsandbytes
accelerate
peft
sentencepiece

faiss-cpu
pdfplumber
pandas
numpy
scikit-learn
tqdm
sentence-transformers

ultralytics

fastapi
uvicorn[standard]
streamlit
requests

whisper
gradio
TTS

datasets
python-multipart
Pillow
aiohttp

